/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #dcf4ff;
  min-height: 100vh;
}

/* Centered page layout */
.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Simple card */
.card {
  background: rgb(255, 255, 255);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgb(91, 189, 219);
}

/* Headings */
.card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Form inputs */
.card input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buttons */
.card button {
  width: 100%;
  padding: 0.7rem;
  background-color: #9225ebc0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #9225eb;
}

/* Password input wrapper */
.password-wrapper {
  position: relative; /* Allows absolute positioning inside */
  width: 100%;
}

/* Password input spacing so text doesn't overlap icon */
.password-wrapper input {
  padding-right: 2.5rem; /* Space for eye icon */
}

/* Eye icon positioning */
.eye-icon {
  position: absolute;
  right: 10px;            /* Push icon to the right */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 1.1rem;
}

.eye-icon:hover {
  color: #d61919;
}

